
#main-row	{
  position: fixed;
  top: 0;
  width: 100%;
}

.row {
	height:100vh;
}

.col {
  display: flex;
  align-items: center;
}

body {
	height: 700vh;
}

.profiler-img	{
	border-radius:50%;
	width:200px;
}