
#main-row	{
  position: fixed;
  top: 0;
  width: 100%;
}

.row {
	height:100vh;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.col * {
	width:100%;
}

.profiler-img	{
	border-radius:50%;
	width:200px;
}

.project-img {
	width:200px;
	max-width:100%;
}